In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('../datasets/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [8]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

In [9]:
total_german = (data['native-country'] == 'Germany').sum()
total = data.shape[0]
(float(total_german)) / total

0.004207487485028101

In [10]:
ages = data.loc[data['salary'] == '>50K', 'age']
avg = ages.mean()
sd = ages.std()
print(avg)
print(sd)

44.24984058155847
10.519027719851826

In [11]:
ages = data.loc[data['salary'] == '<=50K', 'age']
avg = ages.mean()
sd = ages.std()
print(avg)
print(sd)

36.78373786407767
14.02008849082488

In [117]:
observation_data = data.loc[data['salary'] == '>50K', 'education'].value_counts()
print(observation_data)
print("Answer = No")

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64
Answer = No

In [118]:
d = data[data['sex'] == 'Male'] 
observation_data = d.loc[d['salary'] == '>50K', 'marital-status'].value_counts()
print(observation_data)
print("Answer = Married")

Married-civ-spouse       5938
Never-married             325
Divorced                  284
Separated                  49
Widowed                    39
Married-spouse-absent      23
Married-AF-spouse           4
Name: marital-status, dtype: int64
Answer = Married

In [114]:
h_week = data['hours-per-week'].max()
people = data.loc[data['hours-per-week'] == h_week].value_counts()
p = data.loc[data['hours-per-week'] == h_week]
earners = p[p['salary'] == '>50K'].value_counts()
print(h_week)
print(len(people))
print(len(earners) / len(people))

99
85
0.29411764705882354